@import '../../App.variables.scss';

.profile-wrapp {
    flex: 1;
    background-color: $white-color;
    border-radius: 8px;
    margin: 24px;
    padding: 24px;

    @media (max-width: 360px) {
        margin: 24px 0;
        padding: 16px 24px;
    }

    .update-user__form {
        width: 480px;
        @media (max-width: 360px) {
            width: 312px;
        }
    }

    .personal-info__form-blok {
        width: 100%;
        margin-bottom: 24px;
    }

    .personal-info__form-title {
        margin-bottom: 24px;

        @include h5;
    }

    .personal-info__form-blok-item {
        width: 100%;
        display: flex;
        align-items: flex-start;

        @media (max-width: 360px) {
            flex-direction: column-reverse;
        }
    }

    .mobile__upload-box {
        width: 312px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .mobile__upload-title {
        @include body-small;
    }

    .mobile__upload-btn {
        border-radius: 2px !important;
    }

    .update-user__form-item {
        margin-bottom: 12px !important;
    }

    .form__submit-btn {
        width: 206px;
        height: $button-height;
        margin-top: 24px;
        border-radius: $border-radius-2;

        @media (max-width: 360px) {
            width: 312px;
            margin-top: 0;
        }
    }
}

.upload-avatar {
    width: fit-content !important;
    margin-right: 24px;
}
