@import '../../App.variables.scss';

.result-page {
    width: 1440px;
    height: 100vh;
    position: relative;
    background-image: url(../../../public/assets/png/Enter\ page_light.png);

    &:after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 1440px;
        height: 100vh;
        backdrop-filter: blur(10px);
        background: rgba(121, 156, 212, 0.5);

        @media (max-width: 834px) {
            width: 834px;
        }

        @media (max-width: 360px) {
            width: 360px;
        }
    }

    @media (max-width: 834px) {
        width: 834px;
    }

    @media (max-width: 360px) {
        width: 360px;
    }
    .result__box {
        background-color: $white-color;
        border-radius: 2px;
        padding: 64px 32px;
        width: 539px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @media (max-width: 360px) {
            width: 300px;
        }
    }
}
