@import '../../App.variables.scss';

.settings-wrapp {
    flex: 1;
    background-color: $white-color;
    border-radius: 8px;
    margin: 24px;
    padding: 24px;

    @media (max-width: 360px) {
        margin: 24px 0;
        padding: 16px 24px;
    }

    .settings-wrapp__title {
        @include h4;
        margin-bottom: 16px;
    }

    .tariff__content {
        width: 505px;
        display: flex;
        flex-wrap: wrap;
        gap: 25px;

        @media (max-width: 360px) {
            width: 360px;
            flex-direction: column;
        }
    }

    .tariff__card {
        border-radius: $border-radius-2;
        width: 240px;
        box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);

        @media (max-width: 360px) {
            width: 312px;
        }
    }

    .card__header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 16px;
    }

    .card__header-title {
        @include h5;
    }

    .card__header-button {
        border: none;
        outline: none;

        &:hover {
            border: none;
            outline: none;
        }

        &:active {
            border: none;
            outline: none;
        }
    }

    .card__img {
        width: 240px;
        height: 149px;
        background-size: cover;

        @media (max-width: 360px) {
            width: 312px;
        }
    }

    .card__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 8px;
        height: 95px;

        .card__footer-text {
            @include h5;
            width: 70px;
            color: $primary-color-light-9;
        }

        .card__footer-button {
            height: $button-height;
            border-radius: $border-radius-2;
        }
    }

    .advantages__box {
        width: 505px;
        margin-top: 24px;

        @media (max-width: 360px) {
            width: 312px;
        }
    }

    .advantage-item {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 16px 0;
    }

    .advantage-item__disabled {
        color: $gray-color-light;
    }

    .advantage-item__title-box {
        display: flex;
        gap: 4px;

        @media (max-width: 360px) {
            width: 63%;
        }
    }

    .advantage-item__icon {
        @media (max-width: 360px) {
            align-self: flex-start;
        }
    }

    .advantage-item__title {
        @include body-strong;
    }

    .feedbacks-btns__wrapp {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;
        margin-top: 96px;

        @media (max-width: 360px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
}
