@import '../../App.variables.scss';

.registration__res {
    width: 368px;

    .registration__res_btn {
        width: 100%;
        height: 40px;
        border-radius: 2px;
        padding: 4px 0;

        @include body-regular;
    }

    @media (max-width: 360px) {
        width: 263px;
    }
}

.ant-result-title {
    @include h3;
}
