@import '../../App.variables.scss';

.feedbacks-wrapp {
    align-self: flex-start;

    width: 96%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 130px;
    padding: 78px 24px 24px 24px;

    @media (max-width: 360px) {
        width: 330px;
        padding: 78px 16px 24px 16px;

        gap: 48px;
    }

    .feedbacks {
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 20px;
        overflow-x: hidden;

        box-sizing: border-box;
        @media (max-width: 360px) {
            height: 600px;
        }
    }

    .collapsed {
        overflow-y: hidden;
    }

    .not-collapsed {
        overflow-y: scroll;
    }

    &__btn-wrapp {
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @media (max-width: 360px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    &__btn {
        border: 1px solid $brand-color-light;
        border-radius: 2px;
        padding: 4px 15px;

        &:first-child {
            @media (max-width: 360px) {
                margin-bottom: 16px;
                padding: 11px 15px;
                height: auto;
            }
        }

        &:last-child:hover {
            border: none;
            outline: none;
        }

        @media (max-width: 360px) {
            width: 100%;
        }
    }
}
