@import '../../App.variables.scss';

.error-modal__container {
    box-sizing: border-box;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 32px;
    position: absolute;
    top: 64px;
    z-index: 40;
    background: $negative-bg-color;
    border: 1.5px solid $negative-color;
    border-radius: 5px;
    transition: top .1s cubic-bezier(0.165, 0.84, 0.44, 1);


    .error__text {
        @include subtitle-large;
        margin: 0px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &::before {
            content: url('../../assets/svg/error__close.svg');
            display: inline-block;
            width: 32px;
            height: 32px;
            margin: 0px 24px 0px 0;
        }
    }

    .error__btn-close {
        display: inline-block;
        width: 14px;
        height: 2px;
        border-radius: .5px;
        background: $text-color;
        transform: rotate(45deg);
        cursor: pointer;

        &::before {
            content: '';
            display: inline-block;
            width: 14px;
            height: 2px;
            position: absolute;
            border-radius: .5px;
            background: $text-color;
            transform: rotate(90deg);
        }
    }
}

.error-modal__open {
    top: 64px;
}
