@import '../../App.variables.scss';

.drawer__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &_title {
        @include h4;
        margin-left: 6px;
    }
}

.ant-drawer-content-wrapper {
    @media (max-width: 360px) {
        height: 550px !important;
        border-top-right-radius: 24px !important;
        border-top-left-radius: 24px !important;
    }
}

.drawer__body {
    @media (max-width: 360px) {
        border-top-right-radius: 24px !important;
        border-top-left-radius: 24px !important;
    }
}

.drawer__body_info {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include body-medium;
    color: $gray-color;
}

.ant-drawer-body {
    @media (max-width: 360px) {
        padding: 16px;
    }
}

.add-exercises__form {
    padding: 24px 32px;

    @media (max-width: 360px) {
        padding: 24px 0px;
    }
}

.form-input__exercise {
    width: 100%;
    display: block;
    height: 24px !important;

    .ant-input {
        height: 24px;
        border-radius: 2px;
    }
}

.form-item__blok:last-child {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.form-item {
    margin: 0;
    height: 24px;

    &:nth-child(1) .form-item__input {
        width: 98px;
    }

    &:nth-child(2) .form-item__input {
        width: 67px;
        margin: 0 14px 0 32px;
        position: relative;

        &::before {
            content: 'X';
            position: absolute;
            top: 5px;
            right: -12px;
            color: $gray-color;
        }
    }

    &:nth-child(3) .form-item__input {
        width: 86px;
    }
}

.form-item__input {
    display: inline-block;
    border-radius: 2px !important;
}

.form-item__input-label {
    display: inline-block;
    padding: 8px;
    background: rgb(0, 0, 0, 0.06);
    @include body-small;

    &:nth-child(1) {
        width: 82px;
    }

    &:nth-child(2) {
        width: 49px;
        margin: 0 14px 0 32px;
    }
}
.buttons-group {
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 0, 0, 0.06);
    border-radius: 0 0 6px 6px;
    height: 40px;
}

.add-form-item__btn {
    text-align: left;
    height: 40px;
}

.remove-form-item__btn {
    text-align: right;
    height: 40px;

    color: $gray-color;
}

.ant-space-item {
    width: 100%;
}
