@import '../../App.variables.scss';

.registration__form {
    width: 100%;
    padding: 48px 56px 0 56px;

    @media (max-width: 360px) {
        padding: 24px 16px 0 16px;
    }

    .form__title {
        @include h4;
        margin-bottom: 8px;
    }

    .form__subtitle {
        @include subtitle-small;
        margin: 0;
    }

    .form__inputs-box {
        width: 100%;
        margin-top: 32px;
    }

    .form__label {
        position: relative;
    }

    .form__input {
        width: 100%;
        background: #F9F9FA;
        border-radius: 4px;
        padding: 19px 12px;
        outline: 0;
        border: 0;
        border-bottom: 1px solid #BFC4C9;

        &::placeholder {
            @include body-small;
            color: $text-color;
        }
    }

    .form__input-info {
        @include info-large;
        color: $dark40-color;
        margin: 2px 12px 18px 12px;
    }

    .form-btn {
        width: 100%;
        background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
        border-radius: 30px;
        @include button-large;
        color: $white-color;
        padding: 14px 125px;
        margin-top: 32px;

        &:disabled {
            background: #EBEBEB;
        }

        @media (max-width: 360px) {
            padding: 11px 48px;
        }
    }

    .hide-box {
        display: none;
    }

    .form__highlight-error {
        border-bottom: 1px solid $negative-color;
    }

    .highlight-error {
        visibility: visible;
        color: $negative-color;
    }

    .hide-error {
        visibility: hidden;
    }

    .password-ok {
        position: absolute;
        top: 7px;
        right: 50px;
        background-image: url(../../assets/svg/passwordOk.svg);
        background-size: 12px;
        display: block;
        width: 12px;
        height: 10px;
        visibility: hidden;

    }

    .ok {
        visibility: visible;
    }

    .password-eye {
        position: absolute;
        top: 0;
        right: 15px;
        background-size: 24px;
        display: block;
        width: 10px;
        height: 7px;
        width: 24px;
        height: 24px;
    }

    .eye-open {
        background-image: url(../../assets/svg/EyeOpened.svg);
    }

    .eye-close {
        background-image: url(../../assets/svg/EyeClosed.svg);
    }

    .hide-eye {
        display: none;
    }
}
