@import '../../App.variables.scss';

.feedbacks__header {
    width: 100%;
    padding: 16px 30px;
    background-color: $primary-color-light-1;

    position: absolute;
    top: 0;
    left: 2px;

    .feedbacks__header-btn {
        height: auto;
        color: $gray-color;
        border: none;
        outline: none;
        padding: 0;

        &:hover {
            border: none;
            outline: none;
        }
    }
}
