@import '../../App.variables.scss';

.form {
    width: 368px;

    .form__input {
        width: 100%;
        border: 1px solid var($selected-bg-color-light);
        border-radius: 2px;
        height: 40px;
    }

    .form__items-box {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        & a {
            margin-bottom: 24px;
        }
    }

    .form__button {
        width: 100%;
        height: 40px;
        border-radius: 2px;

        @include h6;
    }
}

.ant-input {
    height: 40px;
    border-radius: 2px;
}
