@import '../../App.variables.scss';

.ant-result-extra {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.verification-input {
    border: 1px solid $gray-color;
    border-radius: $border-radius-2;
    width: 40px;
    height: $button-height;
    padding: 10px 0;

    @include body-regular;
}

.verification-input__inactive {
    background: $white-color;
}

.verification-input__error {
    border: 1px solid $warning-color;
}

.confirm-email__text {
    color: $gray-color;
}
