@import '../../App.variables.scss';

.main-page {
    background-image: url(../../../public/assets/png/Main\ page_light.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
    display: flex;
    flex-direction: column;

    @media (max-width: 360px) {
        padding: 0 0 42px 0;
    }

    .main__section {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;

        padding: 24px 24px 42px;

        @media (max-width: 360px) {
            padding: 24px 0 0 0;

            align-items: center;
        }
    }

    .main__articles-wrapp {
        @media (max-width: 833px) {
            width: 520px;
        }

        @media (max-width: 360px) {
            width: 360px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }
    }

    .main__list {
        border-radius: $border-radius-2;
        width: 705px;
        background-color: $white-color;
        padding: 25px;
        color: $primary-color-light-9;
        @include h6;

        @media (max-width: 833px) {
            width: 520px;
        }

        @media (max-width: 360px) {
            width: 300px;
            padding: 16px;
        }
    }

    .main__list ul {
        padding: 0;
        margin: 0;
    }

    .main__list-item {
        list-style-type: none;
    }

    .main__article-last {
        @include h4;
        background-color: $white-color;
        border-radius: $border-radius-2;
        width: 705px;
        margin: 24px 0 18px 0;
        padding: 24px;

        @media (max-width: 833px) {
            width: 520px;
        }

        @media (max-width: 360px) {
            width: 300px;
            padding: 16px;
            margin: 24px 0 16px;
        }
    }

    .main__cards-block {
        width: 750px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width: 833px) {
            width: 570px;
            gap: 16px;
        }

        @media (max-width: 360px) {
            width: 360px;
            flex-direction: column;
            justify-content: center;
            gap: 8px;
        }
    }

    .card {
        border-radius: $border-radius-2;
        width: 240px;
        background-color: $white-color;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;

        &:nth-child(1):before,
        &:nth-child(2):before,
        &:nth-child(3):before {
            display: block;
            position: absolute;

            bottom: 16px;
        }

        &:nth-child(1):before {
            content: url(../../../public/assets/svg/main__workout-icon.svg);
            left: 66px;
            @media (max-width: 833px) {
                left: 32px;
            }
            @media (max-width: 360px) {
                left: 102px;
            }
        }

        &:nth-child(2):before {
            content: url(../../../public/assets/svg/main__celendar-icon.svg);
            left: 68px;
            @media (max-width: 833px) {
                left: 32px;
            }
            @media (max-width: 360px) {
                left: 107px;
            }
        }

        &:nth-child(3):before {
            content: url(../../../public/assets/svg/main__profile-icon.svg);
            left: 80px;
            @media (max-width: 833px) {
                left: 40px;
            }

            @media (max-width: 360px) {
                left: 114px;
            }
        }

        @media (max-width: 360px) {
            width: 330px;
        }
    }

    .card__title {
        padding: 12px 0;
        margin: 0 12px;
        margin: 0;
        width: 100%;
        text-align: center;
        border-bottom: 1px solid $selected-bg-color-light;
        @include h6;

        @media (max-width: 833px) {
            margin: 0 24px;
        }
    }

    .card__link {
        display: block;
        margin: 13px 0 13px 30px;

        width: 100%;
        text-align: center;
        @include body-regular;
        color: $brand-color-light;
        transition: 0.3s;
        outline: none;
        border: none;

        &:hover {
            color: $hover-color-light;
            border: none;
            outline: none;
        }
    }
}
