@import '../../App.variables.scss';

.profile {
    background-image: url(../../../public/assets/png/Main\ page_light.png);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;
}
