@import '../../App.variables.scss';

.feedback {
    width: 100%;
    background-image: url(../../../public/assets/png/Main\ page_light.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    display: flex;
    flex-direction: column;

    position: relative;
    overflow: hidden;

    @media (max-width: 360px) {
        width: 360px;
    }
}

.feedbacks__wrapp {
    justify-content: flex-start;
}

.no-feedbacks {
    justify-content: center;
}
