@import '../../App.variables.scss';

.footer {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 180px;

    @media (max-width: 360px) {
        width: 360px;
        flex-direction: column-reverse;
        align-items: center;
        gap: 24px;
        margin-top: 24px;
    }

    .footer__link {
        @include h6;

        outline: none;
        border: none;

        margin: 0 0 9px 6px;
    }

    .footer__download-blok {
        border-radius: $border-radius-2;
        width: 240px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-color: $white-color;

        @media (max-width: 360px) {
            width: 330px;
            justify-content: space-around;
        }
    }

    .download-blok__title {
        @include h6;
        color: $brand-color-light;
        padding: 12px 0 8px 24px;

        @media (max-width: 360px) {
            width: 100%;
            padding: 12px 0 0 0px;
            text-align: center;
        }
    }

    .download-blok__subtitle {
        text-align: center;
        @include body-regular;
        color: $gray-color;
        padding: 0 0 12px 24px;
        border-bottom: 1px solid $selected-bg-color-light;

        @media (max-width: 360px) {
            width: 100%;
            padding: 12px 0;
            text-align: center;
        }
    }

    .download-blok__btns {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
        width: 100%;
    }

    .download-blok__btn {
        padding: 0;
        width: 100%;

        background: none;
        @include body-regular;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}
