@import '../../App.variables.scss';

.reset-password {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    position: relative;



    .reset-password__title {
        position: absolute;
        top: 180px;
        left: 50%;
        transform: translateX(-50%);
        @include h3;
        color: $white-color;

        @media (max-width: 360px) {
            @include h5;
            top: 16px;
        }
    }

    .reset-password__block {
        background: $white-color;
        position: absolute;
        top: 266px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 16px;
        overflow: hidden;

        @media (max-width: 360px) {
            top: 56px;
        }
    }


    .success-message__wrapp {
        width: 600px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 48px 32px;
    }

    .success-message__title {
        @include h4;
    }

    .success-message__message {
        @include body-large;
        width: 416px;
        text-align: center;

        @media (max-width: 360px) {
            width: 256px;
        }
    }
}
