@import './App.variables.scss';

.app {
    display: flex;
    min-height: 100vh;
    width: 1440px;

    position: relative;

    @media (min-width: 1440px) {
        width: 1400px;
    }

    @media (max-width: 1024px) {
        width: 1000px;
    }

    @media (max-width: 833px) {
        width: 833px;
    }

    @media (max-width: 360px) {
        width: 360px;
    }
}
