@import './App.variables.scss';

.app {
    width: 1440px;
    height: 1024px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex: 1 1 auto;
    box-sizing: border-box;
    // position: relative;

    @media (max-width: 834px) {
        width: 834px;
        height: 1194px;
    }

    @media (max-width: 360px) {
        width: 360px;
        height: 1362px;
        position: relative;
        align-items: center;
    }
}
