@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');
@import './App.variables.scss';

html,
body {
    height: 100%;
}

body {
    justify-content: center;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: $white-color;
    @include font;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:not([class]) {
    text-decoration-skip-ink: auto;
}

img {
    max-width: 100%;
    display: block;
}

article>*+* {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    padding: 0;
    font: inherit;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.app {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 auto;
}

[class*="__container"] {
    width: $main-width;

    @media (max-width: 768px) {
        width: 640px;
    }

    @media (max-width: 320px) {
        width: 288px;
    }
}

.active {
    font-weight: 700 !important;
    background: linear-gradient(231.58deg, #F83600 -53.35%, #F9D423 297.76%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}
