@import '../../App.variables.scss';

.result__btn {
    width: 100%;
    height: $button-height;
    border-radius: $border-radius-2;
    padding: 4px 0;

    @include body-regular;
}

.check-retry-button {
    width: fit-content;
    padding: 4px 15px;
}
